name: Publish docs via GitHub
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1
      - name: remove requirements file
        run: |
          rm -Rf requirements.txt
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.19
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
